---
import { contentfulClient } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.scss";

interface SingleWork {
  name: string;
  title: string;
  color: string;
  thumbnail: any;
  image: any;
}

interface SingleWorkObject {
  fields: SingleWork;
}

interface WorksPage {
  name: string;
  works: SingleWorkObject[];
}

const entries = await contentfulClient.getEntries<WorksPage>({
  content_type: "worksPage",
  limit: 1,
});

const works: SingleWork[] = entries.items[0].fields.works.map(
  (work: SingleWorkObject) => work.fields
);
---

<Layout title="Works - Paulina Włostowska">
  <main class="container">
    <ul class="works-grid">
      {
        works.map((work, index) => (
          <li class="work" style={work.color ? { color: work.color } : null}>
            <a class="work__link" href={`/works/${index + 1}`}>
              <img
                src={
                  work.thumbnail
                    ? `${work.thumbnail.fields.file.url}?w=400&q=72`
                    : `${work.image.fields.file.url}?w=400&q=72`
                }
              />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style lang="scss">
  .works-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .work {
    position: relative;
    width: auto;
    cursor: pointer;
    color: $accent-color;

    &::before {
      @include absolute-cover;

      content: "";
      background: currentColor;
    }

    h2 {
      font-size: 12px;
    }

    img {
      position: relative;
      z-index: 1;
      height: max(200px, 15vw);
      width: auto;
    }

    @media (hover: hover) {
      &:hover {
        img {
          opacity: 0;
        }
      }
    }
  }
</style>
