---
import Layout from '../layouts/Layout.astro';
import '../../styles/global.scss';
---

<Layout title="About - Paulina Włostowska">
	<main>
		About
	</main>
</Layout>

<style lang="scss">

</style>
