---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
---

<Layout title="About - Paulina Włostowska">
	<main>
		<div class="container">
		</div>
	</main>
</Layout>

<style lang="scss">

</style>
