---
import Layout from '../layouts/Layout.astro';
import '../styles/global.scss';
---

<Layout title="Paulina Włostowska">
	<main>
		<div class="container">
			Hejka
		</div>
	</main>
</Layout>

<style lang="scss">
	
</style>
