---
import { contentfulClient } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.scss";
import ProjectsList from "../../components/ProjectsList.astro";
import { filterByCategory } from "../../helpers/filterByCategory";

const entries = await contentfulClient.getEntries<any>({
  content_type: "projectPage",
  order: "-fields.startDate",
});

const projects: any[] = filterByCategory(entries, "textile");
---

<Layout title={`Textiles - Paulina Włostowska`}>
  <main class="container">
    <ProjectsList projects={projects} />
  </main>
</Layout>
