---
import { contentfulClient } from "../lib/contentful";
import Navigation from "../components/Navigation.astro";

export interface Props {
  title: string;
  transition?: boolean;
}

const entries = await contentfulClient.getEntries<any>({
  content_type: "colors",
  limit: 1,
});

const colors: any = entries.items[0].fields;
const { accentColor, backgroundColor, textColor } = colors;

const { title, transition } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    style={{
      "--accent-color": accentColor || "red",
      "--background-color": backgroundColor || "white",
      "--text-color": textColor || "black",
    }}
  >
    <header>
      <Navigation />
    </header>
    <main class={`main ${transition ? "with-transition" : ""}`}>
      <slot />
    </main>
  </body>
</html>

<style lang="scss"></style>
